.app{
  width: 700px;
  margin: auto;
  font: 18px 'Gilroy', sans-serif;
}
.header{
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 1px solid #dcdce0;
}
.menu{
  display: inline;
  padding-left: 28px;
  font-size: 24px;
}
.menu a{
  text-decoration: none;
  color: #003399;
}
.nul{
  font-size: 300px;
  text-align: center;
  color: #F27C0F;
}
.buts{
  padding: 15px 30px;
  font-size: 25px;
  margin: 0 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #003399;
  color: white;
}
.menu2 a, .copy{
  text-decoration: none;
  color: gray;
  opacity: 0.9;
  padding-left: 25px;
}
.menu2, .copy{
  padding-top: 7px;
}
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  font-size: 16px;
  position: sticky;
  bottom: 0;
}
.buto{
  background-color: #F27C0F;
}
.butts{
  background-color: #dbd7d7;
  color: black;
}
.center{
  display: flex;
  justify-content: space-between;
}




